---
layout: default
---
<article class="page">

  <div class="entry", align="justify">
<br>
I am a post doc in the Zimmer Lab at the University of Vienna.
I am interested in understanding the interaction of neuronal activity and behaviour and I mostly use <i>C. elegans</i> to understand it.
For that I use whole brain freely moving recordings of worms performing different behaviours.
To read more about my research click <a href="https://ulisesrey.github.io/research/">here</a>.</br>

<br>Before that, I did my PhD with <a href="https://www.bcp.fu-berlin.de/biologie/arbeitsgruppen/genetik/ag_sigrist/mitarbeiter/leiter/sigrist/index.html">Stephan Sigrist</a> at the Freie Universität of Berlin, with an IMPRS fellowship from the Max Planck of Colloids and Interfaces in Potsdam, where I had <a href="https://www.mpikg.mpg.de/rl/">Reinhard Lipowsky</a> as a co-supervisor.</br>
<br>Before that, I studied human biology at the Universitat Pompeu Fabra in my hometown, Barcelona.</br>
  </div>
</article>


<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
