---
layout: default
---
<article class="page">

  <h1>None</h1>

  <div class="entry">
    I am a post doc in the Zimmer Lab at the University of Vienna .
I am interested in understanding the interaction of neuronal activity and behaviour and I mostly use #celegans to understand it.
For that I use whole brain single neuron freely moving recordings of worms performing different behaviours.

Before that I did my PhD with [Stephan Sigrist](https://www.bcp.fu-berlin.de/biologie/arbeitsgruppen/genetik/ag_sigrist/mitarbeiter/leiter/sigrist/index.html) at the Freie Universität of Berlin, with an IMPRS fellowship from the Max Planck of Colloids and Interfaces in Potsdam, where I had [Reinhard Lipowsky](https://www.mpikg.mpg.de/rl/) as a co-supervisor.
Back then (2012) my research focus was on  synapse assembly. The Sigrist lab  
  </div>
</article>


<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
